@keyframes fade-in {
    from{
        opacity: 0%;
        margin-top: 40px;
    }
    to{
        opacity: 100%;
        margin-top: 0;
    }
}

@keyframes fade-in-left-right {
    from{
        opacity: 0%;
        margin-left: -50%;
    }
    to{
        opacity: 100%;
        margin-left: 0;
    }
}

@keyframes fade-in-right-left {
    from{
        opacity: 0%;
        margin-right: -50%;
    }
    to{
        opacity: 100%;
        margin-right: 0;
    }
}

@keyframes fade {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}