.hero-container{
    display: flex;
    justify-content: center;

    transition: .5s;

    scroll-margin-top: 200px;
}

.hero-content{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;

    @media (max-width:800px) {
        flex-direction: column;
        flex-flow: column-reverse;

        transition: .5s;
    }
}

#hero-section-1{
    width: 40%;
    transition: .5s;
    
    /*animation: fade-in-left-right 1s ease-in-out;*/
    @media (max-width:800px) {
        width: 90%;

        transition: .5s;
    }
}

#hero-section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 180px 0 80px 0;
    transition: .5s;

    /*animation: fade-in-right-left 1s ease-in-out;*/
}

#main-image{
    
}

.icons{
    position: absolute;
    width: 48px;

    transition: .5s;
} 

#icon-1{
    transform: translate(-205px, 60px) rotate(-110deg);
}

#icon-2{
    transform: translate(-225px, -10px) rotate(-90deg);
}

#icon-3{
    transform: translate(-220px, -80px) rotate(-75deg);
}

#icon-4{
    transform: translate(-185px, -155px) rotate(-50deg) scale(110%);
}

#icon-5{
    transform: translate(-125px, -210px) rotate(-35deg);
}

#icon-6{
    transform: translate(-50px, -240px) rotate(-10deg) scale(105%);
}

#icon-7{
    transform: translate(40px, -240px) rotate(10deg) scale(80%);
}

#icon-8{
    transform: translate(115px, -200px) rotate(35deg);
}

#icon-9{
    transform: translate(165px, -145px) rotate(35deg);
}

#icon-10{
    transform: translate(200px, -80px) rotate(35deg);
}

#icon-11{
    transform: translate(210px, -10px) rotate(90deg);
}

#icon-12{
    transform: translate(190px, 60px) rotate(110deg);
}

#circle{
    height: 300px;
    width: 300px;
    background-image: linear-gradient(180deg, var(--color-secondary), var(--color-fourth));
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transform: translate(-5px, -20px);
}

#hero-section-1 > h1{
    font-size: 50px;
    margin: 0;

    background: linear-gradient(145deg, var(--color-secondary), var(--color-fourth));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    
    transition: .5s;

    @media (max-width:1060px) {
        font-size: 40px;

        transition: .5s;
    }

    @media (max-width:980px) {
        font-size: 36px;

        transition: .5s;
    }

    @media (max-width:800px) {
        text-align: center;

        transition: .5s;
    }
}

#opening-text{
    margin: 0;
    font-size: 24px;
    color: var(--color-fourth);
    
    transition: .5s;

    @media (max-width:800px) {
        text-align: center;

        transition: .5s;
    }
}
#hero-section-1> p{
    margin: 0;
    color: var(--color-fourth);

    transition: .5s;

    @media (max-width:800px) {
        text-align: center;

        transition: .5s;
    }
}